*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: lighter;
}

::selection {
  background-color: #FCC537;
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-1 {
  color: #fff;
  font-size: 4rem;
  font-weight: lighter;
}

.paragraph {
  color: #fff;
  font-size: 1.6rem;
}

.mr-sm {
  margin-right: 1.5rem;
}

.mr-md {
  margin-right: 2.5rem;
}

.mr-lg {
  margin-right: 3.5rem;
}

.mr-xl {
  margin-right: 4.5rem;
}

.py-sm {
  padding: 0.5rem 0;
}

.container {
  width: 80%;
  margin: auto;
}

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/unnamed.png") no-repeat center center/cover;
  z-index: -10;
  -webkit-filter: blur(20px) brightness(50%);
  -moz-filter: blur(20px) brightness(50%);
  -o-filter: blur(20px) brightness(50%);
  -ms-filter: blur(20px) brightness(50%);
  filter: blur(20px) brightness(50%);
  height: 100vh;
}

.btn__primary {
  padding: 0.6rem 3rem;
  border: none;
  border-radius: 7px;
  background-color: #FCC537;
  transition: all 0.2s;
}
.btn__primary:hover {
  background-color: rgba(252, 197, 55, 0.8);
}
.btn__primary span {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.btn__secondary {
  padding: 0.6rem 3rem;
  border: none;
  border-radius: 7px;
  background-color: rgba(112, 112, 112, 0.4);
  transition: all 0.2s;
}
.btn__secondary:hover {
  background-color: rgba(112, 112, 112, 0.8);
}
.btn__secondary span {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.movie {
  margin-top: 15rem;
}
.movie__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.movie__title p {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
}
.movie__title p::before, .movie__title p::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.movie__title span {
  display: flex;
}
.movie__title span svg {
  border: 1px solid #fff;
  background-color: #707070;
  border-radius: 50%;
  cursor: pointer;
}
.movie__title span svg:first-child {
  margin-right: 1rem;
}
.movie .movie-items--1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2rem;
  align-items: center;
  justify-items: center;
}
.movie .movie-items--1 figure {
  text-align: center;
  transition: transform 0.3s;
}
.movie .movie-items--1 figure:hover {
  transform: scale(1.1);
}
.movie .movie-items--1 figure figcaption {
  font-size: 1.6rem;
  color: #fff;
}
.movie .movie-items--2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2rem;
  align-items: center;
  justify-items: center;
}
.movie .movie-items--2 figure {
  text-align: center;
  transition: transform 0.3s;
}
.movie .movie-items--2 figure:hover {
  transform: scale(1.1);
}
.movie .movie-items--2 figure figcaption {
  font-size: 1.6rem;
  color: #fff;
}
.movie .movie-items--2 figure figcaption:last-child {
  color: #707070;
  font-size: 1.2rem;
}

.comments {
  margin-top: 15rem;
  padding-bottom: 10rem;
}
.comments-row {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: start;
}
.comments .text {
  width: 100%;
}
.comments .text textarea {
  resize: none;
  width: 100%;
  height: 25rem;
  background-color: rgba(112, 112, 112, 0.8);
  border: none;
  border-radius: 7px;
  padding: 2rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.comments .text textarea::-webkit-input-placeholder {
  color: #fff;
  font-family: inherit;
}
.comments .text textarea:focus {
  outline: none;
}
.comments .text p {
  font-size: 2.6rem;
  margin-top: -5rem;
  margin-left: 0.7rem;
  cursor: pointer;
}
.comments .text a {
  margin-top: 1rem;
}
.comments__items {
  width: 100%;
}
.comments__items .comment {
  background-color: rgba(112, 112, 112, 0.8);
  border-radius: 7px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem 2rem 2rem;
}
.comments__items .comment:not(:last-child) {
  margin-bottom: 2rem;
}
.comments__items .comment .col-left {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}
.comments__items .comment .col-left figure {
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1.3rem);
}
.comments__items .comment .col-left h5 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  font-weight: lighter;
}
.comments__items .comment .col-right {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 2.5rem;
  justify-items: center;
  align-items: center;
}
.comments__items .comment .col-right figure {
  grid-row: 1/span 2;
}
.comments__items .comment .col-right .rate {
  color: #FCC537;
  font-size: 2.5rem;
  font-weight: bold;
}
.comments__items .comment .col-right .date {
  color: #fff;
  font-size: 1.2rem;
}
.comments__items .more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comments__items .more a {
  margin-right: 0.5rem;
  transition: all 0.2s;
}
.comments__items .more a:hover {
  color: #FCC537;
}
.comments__items .more svg {
  cursor: pointer;
  display: flex;
}

.header {
  position: relative;
}
.header .row-1 {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 5rem;
  justify-items: center;
  align-items: end;
  padding-bottom: 3rem;
  border-bottom: 1px solid #707070;
}
.header__body--banner img {
  height: 40rem;
}
.header__body--content > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.header__body--content .rating {
  display: flex;
  align-items: center;
}
.header__body--content .rating > *:not(:last-child) {
  margin-right: 2.5rem;
}
.header__body--content .rating p {
  font-size: 4rem;
  color: #fff;
}
.header__body--content .rating-stars {
  display: flex;
}
.header__body--content .rating-stars img {
  height: 2rem;
}
.header__body--content .genre a:not(:last-child) {
  margin-right: 0.7rem;
}
.header .row-2 {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .row-2 .left > *:not(:last-child) {
  margin-right: 1.5rem;
}

.footer {
  background-color: rgba(71, 64, 47, 0.8);
}
.footer__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: start;
  padding: 5rem 0;
  border-bottom: 1px solid #707070;
}
.footer__item:not(:last-child) {
  margin-bottom: 5rem;
}
.footer__content > *:not(:last-child) {
  margin-bottom: 3.5rem;
}
.footer__link {
  transition: all 0.3s;
}
.footer__link:hover {
  color: #FCC537;
  transform: scale(1.1);
}
.footer__icon {
  display: flex;
  align-items: center;
}
.footer__icon i {
  color: rgba(255, 255, 255, 0.9);
  background-color: #707070;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.footer__icon i:not(:last-child) {
  margin-right: 1rem;
}
.footer__icon i:hover {
  color: #FCC537;
  border: 1px solid #FCC537;
  transform: scale(1.1);
}
.footer__copyright {
  text-align: center;
  padding: 2rem 0;
}

.nav {
  position: relative;
  z-index: 2;
  padding: 1.5rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item:not(:last-child) {
  margin-right: 4.5rem;
}
.nav__link {
  transition: all 0.2s;
}
.nav__link:hover {
  color: #FCC537;
}
.nav .prof {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .prof > * {
  cursor: pointer;
}
.nav .prof-photo {
  display: flex;
}

.about-title, .comments-title {
  width: 30rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  margin-bottom: 4rem;
}
.about-title::before, .comments-title::before, .about-title::after, .comments-title::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

.gradiant img {
  width: 100%;
  margin-top: -15rem;
}

.main {
  background-image: linear-gradient(to bottom, #0b0e1e, #47402f);
  margin-top: -1rem;
  width: 100%;
}

.about__content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 5rem;
  justify-items: center;
  align-items: center;
}
.about__banner {
  filter: brightness(90%);
}
.about__text > *:not(:last-child) {
  margin-bottom: 2.5rem;
}
.about__text-row {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-column-gap: 2rem;
}
.about__text-row span {
  font-size: 1.6rem;
  color: #bcbcbc;
}

.episode .season {
  text-align: center;
}
.episode .season p:first-child {
  border: 2px solid #fff;
  padding: 1rem 0.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
