@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin linkHover {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.2);
    color: $color-primary;
  }
}
