.footer {
  background-color: rgba(#47402f, 0.8);

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3.5rem;
    align-items: start;

    padding: 5rem 0;
    border-bottom: 1px solid $color-secondary;
  }

  &__item:not(:last-child) {
    margin-bottom: 5rem;
  }

  &__content {
    & > *:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }

  &__link {
    transition: all 0.3s;

    &:hover {
      color: $color-primary;
      transform: scale(1.1);
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    i {
      color: rgba($color-white, 0.9);
      background-color: $color-secondary;
      border: 1px solid rgba($color-white, 0.9);
      border-radius: 50%;
      padding: 1rem;
      cursor: pointer;

      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.2s;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: $color-primary;
        border: 1px solid $color-primary;
        transform: scale(1.1);
      }

      &:last-child {
        @include respond(phone) {
          display: none;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    padding: 2rem 0;
  }
}