.header {
  position: relative;

  @include respond(tab-port) {
    .row-1 {
      grid-template-columns: 1fr !important;
      align-items: center !important;
      justify-content: center !important;
    }

    &__body--banner {
      display: none;
    }

    .row-2 {
      flex-direction: column;
      .left {
        width: 100%;
        a {
          background-color: $color-secondary;
        }
      }

      .right {
        width: 100%;
        margin-top: 2rem;
        a {
          background-color: $color-secondary;
        }
      }
    }
  }

  @include respond(phone) {
    .row-2 {
      .left {
        display: flex;
        flex-direction: column;
        align-items: start;

        & > *:not(:first-child) {
          margin-top: 2rem;
        }
      }
    }
  }

  .row-1 {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5rem;
    justify-items: center;
    align-items: end;

    padding-bottom: 3rem;
    border-bottom: 1px solid $color-secondary;
  }

  &__body--banner {
    img {
      height: 40rem;
    }
  }

  &__body--content {
    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .rating {
      display: flex;
      align-items: center;

      & > *:not(:last-child) {
        margin-right: 2.5rem;
      }

      p {
        font-size: 4rem;
        color: $color-white;
      }

      &-stars {
        display: flex;

        img {
          height: 2rem;
        }
      }
    }

    .genre {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: 2rem;

      a {
        justify-self: center;
      }
    }
  }

  .row-2 {
    margin-top: 3rem;
    @include flexCenter;

    .left {
      & > *:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}
