.background-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/unnamed.png") no-repeat center center / cover;
  z-index: 1;
  -webkit-filter: blur(20px) brightness(60%);
  -moz-filter: blur(20px) brightness(60%);
  -o-filter: blur(20px) brightness(60%);
  -ms-filter: blur(20px) brightness(60%);
  filter: blur(20px) brightness(60%);
  width: 100vw;
  height: 100vh;
}
