.mr-sm { margin-right: 1.5rem; }

.mr-md { margin-right: 2.5rem; }

.mr-lg { margin-right: 3.5rem; }

.mr-xl { margin-right: 4.5rem; }

.py-sm { padding: .5rem 0; }

.container {
    width: 80%;
    margin: auto;
}