.gradiant {
  img {
    width: 100%;
    margin-top: -15rem;
  }
}
.main {
  background-image: linear-gradient(to bottom, #0b0e1e, #47402f);
  margin-top: -1rem;
  width: 100%;
}

// ABOUT
.about {
  &-title {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    margin-bottom: 4rem;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5rem;
    justify-items: center;
    align-items: center;
  }

  &__banner {
    filter: brightness(90%);
  }

  &__text {
    & > *:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &-row {
      display: grid;
      grid-template-columns: 8rem 1fr;
      grid-column-gap: 2rem;

      span {
        font-size: 1.6rem;
        color: #bcbcbc;
      }
    }
  }
}

// EPISODE
.episode {
  margin-top: 15rem;

  &__title {
    @include flexCenter;
    padding-bottom: 4rem;

    p {
      width: 30rem;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;

      &::before,
      &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
      }
    }

    span {
      display: flex;

      svg {
        border: 1px solid white;
        background-color: $color-secondary;
        border-radius: 50%;
        cursor: pointer;

        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;

    .season {
      text-align: center;

      p:first-child {
        border: 2px solid white;
        padding: 1rem 0.5rem;
        border-radius: 6px;
        margin-bottom: 1rem;
      }
    }

    figure {
        text-align: center;

        figcaption {
            font-size: 1.6rem;
            color: white;
        }
    }
  }
}
